body {
    padding: 0px;
    margin: 0px;
    #current-time {
        font-size: large;
        font-weight: bold;
        color: rgb(198, 250, 214);
        font-family: 'Times New Roman', Times, serif;
        margin-right: 20px;
        background-color: rgb(3, 51, 27);
        text-align: center;
        padding: 10px 30px ;
    }
    nav.navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            padding: 20px 70px 0px;
            /* border: red 1px solid; */
            font-size: xx-large;
            font-weight: bolder;
            color: rgb(6, 68, 6);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #navbarSupportedContent {
            ul {
                li {
                    padding: 2px;
                    a {
                        padding-top: 10px;
                        padding-bottom: 20px;
                        padding-right: 20px;
                        /* border: red 1px solid; */
                        font-size: 15px;
                        font-weight: lighter;
                        color: rgb(124, 151, 124);
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        /* margin-right: 10px; */
                    }
                    button.btn{
                        border-radius: 20px;
                        padding: 10px 25px;
                        background-color: rgb(26, 110, 26);
                        color: white;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 15px;                        
                    }
                }
            }
        }
    }
}
